doctype html
html
	head
		title= "Login"
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

	body
		.container
			.jumbotron
				h1= main_tag
			form(method='POST' action='/items/restaurant/doLogin')
				div.form-group
					label(for="user_name") UserName: 
					input#user_name.form-control(name="user_name" type="text" placeholder="Enter user name")
					br
					button.btn.btn-warning(type="submit") Submit