doctype html
html
	head
		title= "Create Restaurant"
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

	body
		.container
			.jumbotron
				h1= main_tag
			form(method='POST' action='/items/restaurant/create')
				div.form-group
					label(for="restaurant_name") Restaurant Name: 
					input#restaurant_name.form-control(name="restaurant_name" type="text" placeholder="Enter restaurant name")
				br
				button.btn.btn-warning(type="submit") Submit