doctype html
html
	head
		title= "Delete Restaurant"

	body
		h1= main_tag
		br
		br
		form(method='POST' action='/items/restaurant/doDelete')
			h6= main_id
			br
			br
			button(type="submit" id="delete") Delete
			br
			br