doctype html
html
	head
		title= "Success"

	body
		h1= main_tag
		br
		if restaurant_list
			each restaurant in restaurant_list
				h3 #{restaurant.name}
				a(href='/items/restaurant/edit/' + restaurant.id) Edit
				br
				a(href='/items/restaurant/deleteConfirmation/' + restaurant.id) Delete
				br
				br
				br