doctype html
html
	head
		title= "Create Restaurant"

	body
		h1= main_tag
		form(method='POST' action='/items/restaurant/create')
			div
				label(for="restaurant_name") Restaurant Name: 
				input(name="restaurant_name" id="restaurant_name")
			br
			br
			button(type="submit") Submit